:root {
    --btn-cadastro: #2A4D77;
    --btn-cadastro-hover: #406491;
    --btn-cancelar: #FB0615;
    --btn-cancelar-hover: #e20505;
}

.container {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    position: absolute;
}

h1 {
    margin-bottom: 30px;
}

.form-sign-up {
    height: 450px;
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
}

input,
button,
span {
    height: 50px;
    width: 400px;

    margin-bottom: 10px;
}

span {
    color: var(--btn-cancelar);
}

.span-login {
    width: 100px;
    color: #2A4D77;
    text-decoration: underline;
    cursor: pointer;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    border: none;
}

button:active {
    transform: translate(2px, 2px);
}

.btn-cadastrar {
    color: aliceblue;
    background-color: var(--btn-cadastro);
}

.btn-cadastrar:hover {
    background-color: var(--btn-cadastro-hover);
}

.btn-cancelar {
    color: aliceblue;
    background-color: var(--btn-cancelar);
}

.btn-cancelar:hover {
    background-color: var(--btn-cancelar-hover);
}

img {
    height: 100vh;
    width: auto;
}

.img-close-eye {
    height: 30px;
    width: auto;

    position: absolute;
    right: 10px;
    top: 20%
}

.woman-success {
    height: 500px;
    width: auto;
}

.h1-success {
    color: var(--btn-cadastro);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        top: 40px;
        margin: 2rem 0;
    }
}

@media (max-width: 500px) {
    .container-login {
        flex-direction: column;
        margin-top: 60px;
    }

    .input-sign-up {
        margin-top: 10px;
        width: 250px;
    }

    .btn-enter {
        margin-top: -30px;
        width: 250px;
    }

    .btn-cadastrar,
    .btn-cancelar {
        margin-top: 10px;
        width: 250px;
    }
}

@media (max-width: 415px) {
    .container {
        top: 80px;
    }
}